*{
    margin: 0px;
}

.header-content{
    text-align: center;
    font-family: Arial;
    padding: 50px;
}

.section-content{
    text-align: center;
    font-family: Arial;
    padding: 5px;
}

.p-content{
    display: flex;
    justify-content: center;
    font-family: Arial;
    padding: 5px;
}

.article-content{
    text-align: center;
    font-family: Arial;
    padding: 250px;
}

.footer-content{
    margin: auto;
    text-align: center;
    font-family: Arial;
}

.center1{
    display: flex;
    justify-content: space-around;
}
.center2{
    display: flex;
    justify-content: space-around;
}

.box{
    width: 515px;
    height: 225px;
    margin: 5px;
    background-image: url(../image/pexels-jessika-arraes-12126168.jpg);
}

.header-box{
    margin: auto;
    width: 100%;
    height: 150px;
    background-color: gray;
}

.s-box{
    display: block;
    justify-content: center;
    margin: auto;
    width: 1170px;
    height: auto;
    background-color: darksalmon;
}
.s-box2{
    display: block;
    padding: 15px 0px;
    margin: auto;
    width: 1170px;
    height: auto;
    background-color: darksalmon;
}
.single-box{
    background-color: goldenrod;
    display: flex;
    width: 100%;
    height: 225px;
}

.photo-box{
    margin: 15px;
    height: 350px;
    width: 360px;
    background-image: url(../image/pexels-luis-quintero-2263822.jpg);
}
.article-box{
    margin: auto;
    width: 100%;
    height: 550px;
    background-color: lightgreen;
}

.article-box2
{
    width: 100%;
    height: auto;
    background-color: rgb(206, 115, 66);
    display: flex;
    justify-content: center;
}

.b-content{
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: Arial;
}

footer{
    display: flex;
    justify-content: center;
    margin: auto; 
    width: auto;
    height: 400px;
    background-color: darkgrey;
}

